body {
  font-family: Arial, Helvetica, sans-serif;
  color: #666666;
}

a,
a:visited {
  color: #2c2c2c;
  text-decoration: none;
  background: rgb(209, 209, 209);
  padding: 0.3rem 0.5rem;
  border-radius: 0.5rem;
}

.clear {
  clear: both;
}

td {
  border-top: solid 1px #d3d3d3;
}

td,
th {
  padding: 10px;
}

table {
  border-collapse: collapse;
}

/* Documentation site component styles */
.example {
  border: solid 1px #d3d3d3;
  padding: 16px;
  margin-bottom: 16px;
  background-color: #f4f6f9;
}

.example h4:first-of-type {
  margin-top: 0;
}

.example p:last-of-type {
  margin-bottom: 0;
}

.props tr td:last-of-type {
  text-align: center;
}

.props th,
td {
  text-align: left;
  padding: 15px 30px;
}

.navigation {
  float: left;
  width: 250px;
  list-style-type: none;
  padding: 0;
}

.componentpage {
  margin-left: 250px;
  padding-left: 25px;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 2px solid rgba(146, 146, 146, 0.329);
  cursor: pointer;
}

.header-closed:hover {
  background: #ebfff3;
}

.header-open:hover {
  background: #ffebeb;
}

.componentpage h2 {
  width: max-content;
  padding: 0.5rem 1rem;
  color: #d16b26;

  border-radius: 0.5rem;
  text-shadow: 1px 1px 1px rgb(126, 34, 34);
}

.componentpage h3 {
  text-decoration-line: underline;
  color: rgb(94, 57, 3);
}
